<div class="flex items-center gap-3 w-full max-w-5xl ~p-6/8 bg-green-100 dark:bg-green-900 text-black dark:text-white border border-green-200 dark:border-green-800 rounded-3xl">
    {% include "src/assets/svgs/notice/success.svg" %}
    <span class="text-lg font-bold">{{ formSettings.data.enabled_title }}</span>
</div>