<!-- SIDEBAR -->
<div class="sticky top-32 flex flex-col gap-4 w-full max-w-xs p-6 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 rounded-2xl">
    <!-- TITLE -->
    <span class="text-2xl text-black dark:text-white font-bold">{{ sidebar.title }}</span>

    <!-- ITEMS -->
    <ul class="flex flex-col gap-1">
        {% for item in sidebar.items %}
            <li>
                <a href="{{ item.url }}" class="group flex items-center gap-3 p-1 rounded-full transition-colors duration-300 hover:bg-secondary-100 dark:hover:bg-primary">
                    <!-- ICON -->
                    <div class="p-1.5 bg-secondary-100 rounded-full transition-colors duration-300 group-hover:bg-white">
                        <img src="{{ item.icon.url }}"
                            alt="{{ item.icon.alt }}"
                            width="16"
                            height="16"
                            loading="lazy"
                            decoding="async"
                            aria-hidden="true"
                            draggable="false">
                    </div>

                    <!-- TITLE -->
                    <span title="{{ item.title | safe }}" class="text-slate-800 dark:text-slate-200 line-clamp-1 break-all transition-colors duration-300 group-hover:text-black dark:group-hover:text-white">
                        {{ item.title | safe }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>