<!-- DOCUMENTS -->
<section  class="peer relative ~py-16/24 ~px-4/8 bg-slate-100 dark:bg-slate-900">
    <!-- ANCHOR -->
    <div id="dokumenty" class="absolute -top-32 group-[.notice]/body:-top-52"></div>

    <div class="container m-auto flex flex-col ~gap-8/16">
        <!-- TOPPER + HEADING -->
        <div class="flex flex-col items-start ~gap-3/4">
            <span class="topper">{{ documents.topper }}</span>
            <h2 class="~text-3xl/5xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">
                {{ documents.heading }}
            </h2>
        </div>

        <!-- ITEMS -->
        <ul class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 ~gap-4/6">
            {% if items.length === 0 %}
                <p class="font-inter text-slate-800 dark:text-slate-200">Zatím tu nic není.</p>
            {% else %}
                {% for document in items %}
                    {% include "components/document-item.njk" %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>