<!-- FAQ -->
<section class="~py-16/24 ~px-4/8 bg-white dark:bg-slate-950">
    <div class="container m-auto flex flex-col gap-24">
        <!-- TOPPER + HEADING -->
        <div class="flex flex-col items-start ~gap-3/4">
            <span class="topper">{{ faq.topper }}</span>
            <h2 class="~text-3xl/5xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">
                {{ faq.heading }}
            </h2>
        </div>
    </div>
</section>