<!-- ABOUT US -->
<section class="group ~py-16/24 ~px-4/8 bg-white dark:bg-slate-950">
    <div class="container m-auto flex flex-col xl:group-even:flex-row xl:group-odd:flex-row-reverse items-start ~gap-12/24">
        <!-- IMAGE -->
        <picture class="basis-1/2 xl:sticky xl:top-32 xl:group-[.notice]/body:top-52">
            <!-- MOBILE IMAGE -->
            <source media="(max-width: 600px)" srcset="{% getUrl pageContent.data.image.url | resize({ width: 552, height: 414 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl pageContent.data.image.url | resize({ width: 552, height: 414 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl pageContent.data.image.url | resize({ width: 552, height: 414 }) | jpeg %}" type="image/jpeg">
            <!-- TABLET IMAGE -->
            <source media="(max-width: 1024px)" srcset="{% getUrl pageContent.data.image.url | resize({ width: 1143, height: 858 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl pageContent.data.image.url | resize({ width: 1143, height: 858 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl pageContent.data.image.url | resize({ width: 1143, height: 858 }) | jpeg %}" type="image/jpeg">
            <!-- DESKTOP IMAGE -->
            <source media="(min-width: 1024px)" srcset="{% getUrl pageContent.data.image.url | resize({ width: 1080, height: 810 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl pageContent.data.image.url | resize({ width: 1080, height: 810 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl pageContent.data.image.url | resize({ width: 1080, height: 810 }) | jpeg %}" type="image/jpeg">
            <img
                class="object-cover w-full aspect-[4/3] rounded-3xl"
                src="{% getUrl pageContent.data.image.url | resize({ width: 1080, height: 810 }) | jpeg %}"
                alt="{{ pageContent.data.image.alt }}"
                width="720"
                height="540"
                loading="lazy"
                decoding="async"
                aria-hidden="true"
                draggable="false">
        </picture>

        <!-- TEXT + CTA -->
        <div class="basis-1/2 flex flex-col items-start gap-8">
            <!-- HEADING + CONTENT -->
            <div class="flex flex-col ~gap-4/6">
                <!-- TOPPER + HEADING -->
                <div class="flex flex-col items-start ~gap-3/4">
                    <span class="topper">{{ pageContent.data.topper }}</span>
                    <h2 class="text-balance ~text-3xl/5xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">
                        {{ pageContent.data.heading }}
                    </h2>
                </div>

                <div class="prose prose-slate dark:prose-invert prose-headings:mb-4 prose-p:font-inter prose-p:~text-base/lg max-w-none text-pretty break-words hyphens-auto">
                    {{ pageContent.content | safe }}
                </div>
            </div>

            <!-- CTA -->
            <a href="/objednat-se" class="btn">
                <span>
                    <img src="/assets/svgs/header/calendar_month.svg"
                        alt="Ikona kalendáře"
                        width="16"
                        height="16"
                        loading="eager"
                        decoding="async"
                        aria-hidden="true"
                        draggable="false">
                </span>

                <span>Objednat se</span>
            </a>
        </div>
    </div>
</section>