<!-- SIDEBAR NAVIGATION -->
<div id="sidebar" class="fixed top-0 right-0 h-full w-full max-w-lg flex flex-col justify-between gap-24 ~py-8/16 ~px-4/16 bg-slate-100 dark:bg-slate-900 z-50 transition-transform duration-500 translate-x-full group-[.menu]/body:translate-x-0 overflow-y-auto scrollbar-thin scrollbar-stone-900 scrollbar-stone-800">
    <!-- MENU BUTTON -->
    <button
        class="toggle group absolute top-4 right-4 flex justify-center items-center gap-1 h-11 w-11 transition-transform duration-300 [&.active]:rotate-90"
        type="button"
        aria-expanded="false">
        <span class="sr-only">Přepnout zobrazení bočního menu</span>
        <span class="relative block h-1.5 w-6">
            <span class="absolute top-0 block h-px w-full bg-black dark:bg-white rounded-full transition-transform duration-300 group-[.active]:rotate-45 group-[.active]:top-1/2 group-[.active]:-translate-y-1/2 group-[.active]:left-1/2 group-[.active]:-translate-x-1/2"></span>
            <span class="absolute bottom-0 block h-px w-full bg-black dark:bg-white rounded-full transition-transform duration-300 group-[.active]:rotate-[315deg] group-[.active]:top-1/2 group-[.active]:-translate-y-1/2 group-[.active]:left-1/2 group-[.active]:-translate-x-1/2"></span>
        </span>
    </button>

    <!-- LOGO + NAVIGATION -->
    <div class="flex flex-col gap-12">
        <!-- LOGO -->
        <img
            class="self-start block dark:hidden ~h-16/20 w-auto"
            src="/assets/svgs/logo-symbol-dark.svg"
            alt="{{ client.name }} - tmavé logo"
            width="64"
            height="64"
            loading="eager"
            decoding="async"
            aria-hidden="true"
            draggable="false">

        <img
            class="self-start hidden dark:block ~h-16/20 w-auto"
            src="/assets/svgs/logo-symbol-white.svg"
            alt="{{ client.name }} - světlé logo"
            width="64"
            height="64"
            loading="eager"
            decoding="async"
            aria-hidden="true"
            draggable="false">

        <!-- NAVIGATION + CTA -->
        <div class="flex flex-col gap-2">
            <!-- NAVIGATION -->
            <nav class="p-1.5 bg-secondary-100 dark:bg-primary rounded-3xl">
                <ul class="flex flex-col gap-1">
                    {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                    {% for entry in mainNavigation.items %}
                        {# Define a hasChild variable to make it easier to test what navigation items are have child dropdown pages #}
                        {% set hasChild = entry.children.length %}

                        <li
                      class="group/li relative inline-flex {% if hasChild -%} dropdown {%- endif %}"
                      {%- if hasChild -%}tabindex="0"{%- endif -%}
                    >
                            {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                            <a
                            href="{{ entry.url }}"
                            class="relative flex items-center gap-1.5 w-full py-1.5 px-5 whitespace-nowrap rounded-full
                            {%- if entry.url == page.url %} bg-secondary-200 dark:bg-secondary-500 text-primary font-medium
                            {%- else %} text-slate-800 dark:text-slate-200 hover:text-black dark:hover:text-black z-10 before:absolute before:inset-0 before:bg-secondary-200 before:rounded-full before:-z-10 before:transition-[transform,opacity] before:duration-500 before:ease-in-out before:scale-x-0 before:opacity-0 before:origin-left group-hover/li:before:scale-x-100 group-hover/li:before:opacity-100 {%- endif %}"
                            {%- if entry.url == page.url -%} aria-current="page" {%- endif -%}
                        >
                                <span>{{ entry.key }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <!-- CTA -->
            <a href="/objednat-se" class="btn after:h-0 after:w-7 after:transition-transform after:duration-300 hover:after:scale-x-0">
                <span>
                    <img src="/assets/svgs/header/calendar_month.svg"
                    alt="Ikona kalendáře"
                    width="16"
                    height="16"
                    loading="eager"
                    decoding="async"
                    aria-hidden="true"
                    draggable="false">
                </span>

                <span class="mx-auto">Objednat se</span>
            </a>
        </div>
    </div>
</div>

<!-- SIDEBAR BACKGROUND -->
<div class="fixed top-0 right-0 h-full w-full bg-black/50 z-40 scale-0 transition-opacity duration-500 opacity-0 group-[.menu]/body:scale-100 group-[.menu]/body:opacity-100"></div>