{% extends "layouts/base.njk" %}

{% block head %}
    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    {% include "components/post-schema.njk" %}
{% endblock %}

{% block body %}
    {% include "sections/landing.njk" %}

    <article class="~py-16/24 ~px-4/8 bg-white dark:bg-slate-950">
        <div class="container m-auto flex flex-col items-center gap-8 w-full max-w-4xl">
            {% if image %}
                <picture>
                    <img class="w-full aspect-2/1 object-cover border border-slate-400 dark:border-slate-600 rounded-3xl" src="{{ image }}" alt="{{ imageAlt }}" decoding="async" width="894" height="446" draggable="false">
                </picture>
            {% endif %}

            <!-- BLOG POST -->
            <section class="flex flex-col justify-center gap-12">
                <div class="flex flex-col gap-2">
                    <!-- BLOG TITLE -->
                    <h1 class="~text-2xl/4xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">{{ title }}</h1>

                    {% if workplace or date %}
                        <!-- METADATA -->
                        <ul class="flex items-center gap-2 font-inter text-sm text-slate-800 dark:text-slate-200">
                            {% if workplace %}
                                <!-- WORKPLACE -->
                                <li>
                                    {% include "components/workplace-count.njk" %}
                                </li>
                            {% endif %}

                            {% if date %}
                                <!-- SEPARATOR -->
                                <li class="text-slate-600">·</li>

                                <!-- DATE -->
                                <li>{{ date | postDate }}</li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>

                <!-- BLOG TEXT -->
                <div class="prose prose-slate dark:prose-invert w-full max-w-[75ch]">
                    {{ content | safe }}
                </div>
            </section>
        </div>
    </article>

    {% include "sections/cta.njk" %}
{% endblock %}