@tailwind base;
@tailwind components;
@tailwind utilities;


/* ================== */
/* === COMPONENTS === */
/* ================== */

@layer components {
  /* === BUTTONS === */
  .btn {
    @apply flex items-center bg-primary text-white font-bold uppercase rounded-full;
  }

  .btn {
    /* ICON */
    span:first-child {
      @apply p-1.5 bg-white text-primary rounded-full transition-transform duration-300 ease-in-out;
    }

    span:nth-child(2) {
      @apply transition-transform duration-300 ease-in-out;
    }
  }

  .btn:hover {
    /* ICON HOVER EFFECT */
    span:first-child {
      @apply scale-0;
    }

    /* TEXT HOVER EFFECT */
    span:nth-child(2) {
      @apply -translate-x-3.5;
    }
  }

  .btn {
    @apply gap-3 p-2 pr-5 ~text-sm/base;
  }

  /* === TOPPER === */
  .topper {
    @apply py-1 ~px-4/5 bg-secondary-200 dark:bg-primary ~text-sm/base text-slate-800 dark:text-white uppercase tracking-wider rounded-full;
  }

  /* === FORM INPUTS === */
  .input {
    @apply py-2.5 px-3 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 font-inter text-sm text-slate-800 dark:text-slate-200 placeholder:text-slate-600 dark:placeholder:text-slate-400 rounded-lg focus:border-primary focus:ring-primary/50 dark:focus:border-secondary dark:focus:ring-secondary/50;
  }

  .checkbox {
    @apply form-checkbox border-slate-200 dark:border-slate-800 rounded checked:bg-primary focus:ring-primary checked:focus:bg-primary checked:hover:bg-primary;
  }
}


/* ============= */
/* === FONTS === */
/* ============= */

/* inclusive-sans-regular - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inclusive Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inclusive-sans-v4-latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inclusive-sans-500 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inclusive Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inclusive-sans-v4-latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inclusive-sans-600 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inclusive Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inclusive-sans-v4-latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inclusive-sans-700 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inclusive Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inclusive-sans-v4-latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v20-latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v20-latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v20-latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v20-latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}