{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}
    {% include "sections/navigation.njk" %}

    <!-- DOCUMENTS -->
    <section class="peer ~py-16/24 ~px-4/8 bg-slate-100 dark:bg-slate-900">
        <div class="container m-auto flex flex-col items-start gap-16">
            {% include "components/sidebar.njk" %}

            <!-- DOCUMENTS -->
            <div class="flex flex-col gap-24"></div>
        </div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}