{% extends "layouts/base.njk" %}

{% block head %}
    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    {% include "components/home-schema.njk" %}
{% endblock %}

{% block body %}
    <!-- HERO -->
    <section class="pt-64 ~pb-16/24 ~px-4/8 bg-white dark:bg-slate-950">
        <div class="flex flex-col items-center ~gap-8/16">
            <!-- TOPPER + HEADING -->
            <div class="flex flex-col items-center gap-4">
                <span class="topper ~text-sm/lg">{{ hero.topper }}</span>
                <h1 class="~max-w-2xl/5xl text-center ~text-3xl/6xl text-slate-800 dark:text-white font-bold !leading-[1.1] tracking-widest">
                    <span class="text-primary dark:text-white">P</span>edagogicko-<span class="text-primary dark:text-white">p</span>sychologická <span class="text-primary dark:text-white">p</span>oradna <span class="text-secondary dark:text-white">P</span>ardubice
                </h1>
            </div>

            <!-- IMAGES -->
            <div class="relative grid grid-cols-3 ~gap-4/8 h-full max-w-[120rem]">
                {% for image in hero.images %}
                    <picture>
                        <!-- MOBILE IMAGE -->
                        <source media="(max-width: 600px)" srcset="{% getUrl image.url | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl image.url | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl image.url | jpeg %}" type="image/jpeg">
                        <!-- TABLET IMAGE -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl image.url | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl image.url | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl image.url | jpeg %}" type="image/jpeg">
                        <!-- DESKTOP IMAGE -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl image.url | resize({ width: 869, height: 597 }) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl image.url | resize({ width: 869, height: 597 }) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl image.url | resize({ width: 869, height: 597 }) | jpeg %}" type="image/jpeg">
                        <img
                            class="object-cover"
                            src="{% getUrl image.url | resize({ width: 869, height: 597 }) | jpeg %}"
                            alt="{{ image.alt }}"
                            width="597"
                            height="398"
                            loading="eager"
                            decoding="async"
                            aria-hidden="true"
                            draggable="false">
                    </picture>
                {% endfor %}

                <!-- TOP AND BOTTOM BACKGROUND MASKS -->
                <div class="absolute top-1/2 -translate-y-1/2 h-[calc(100%+0.125rem)] w-[calc(100%+0.25rem)] text-white dark:text-slate-950">
                    {% include "src/assets/svgs/hero/mask-top.svg" %}
                    {% include "src/assets/svgs/hero/mask-bottom.svg" %}
                </div>
            </div>
        </div>
    </section>

    <!-- SERVICES -->
    <section class="~py-16/24 ~px-4/8 bg-white dark:bg-slate-950">
        <div class="container m-auto flex flex-col ~gap-12/16">
            <!-- HEADING + CTA -->
            <div class="flex flex-col xl:flex-row justify-between items-start xl:items-end ~gap-4/6">
                <!-- TOPPER + HEADING -->
                <div class="flex flex-col items-start ~gap-3/4">
                    <span class="topper">{{ services.topper }}</span>
                    <h2 class="~max-w-sm/xl ~text-3xl/5xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">
                        {{ services.heading }}
                    </h2>
                </div>

                <!-- CTA -->
                <a href="{{ services.cta.url }}" class="btn">
                    <span>
                        <img src="/assets/svgs/header/calendar_month.svg"
                            alt="Ikona kalendáře"
                            width="16"
                            height="16"
                            loading="eager"
                            decoding="async"
                            aria-hidden="true"
                            draggable="false">
                    </span>

                    <span>{{ services.cta.text }}</span>
                </a>
            </div>

            <!-- ITEMS -->
            <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4">
                {% for item in services.items %}
                    <li class="group">
                        <a href="#" class="relative flex flex-col items-center gap-10 ~p-6/12 border-b group-last:border-b-0 md:border-b-0 md:group-odd:border-r xl:group-even:border-r border-slate-200 dark:border-slate-800 z-10 before:absolute before:inset-0 before:bg-primary before:-z-10 before:transition-[transform,opacity] before:duration-500 before:ease-in-out before:scale-0 before:opacity-0 hover:before:scale-100 hover:before:opacity-100">
                            <!-- ICON -->
                            <div class="~p-3/4 bg-secondary-200 rounded-full transition-colors duration-300 group-hover:bg-white">
                                <img class="~size-10/12"
                                    src="{{ item.icon.url }}"
                                    alt="{{ item.icon.alt }}"
                                    width="48"
                                    height="48"
                                    loading="lazy"
                                    decoding="async"
                                    aria-hidden="true"
                                    draggable="false">
                            </div>

                            <!-- TITLE + TEXT -->
                            <div class="flex flex-col ~gap-2/3">
                                <h3 class="text-center ~text-xl/2xl text-black dark:text-white font-semibold transition-colors duration-300 group-hover:text-white">{{ item.title }}</h3>
                                <p class="font-inter text-center ~text-sm/base text-slate-800 dark:text-slate-200 transition-colors duration-300 group-hover:text-slate-200">{{ item.text | safe }}</p>
                            </div>

                            <!-- HOVER DOTS -->
                            <div class="absolute inset-0 -z-10 transition-[transform,opacity] duration-500 ease-in-out scale-0 opacity-0 group-hover:scale-100 group-hover:opacity-100">
                                <!-- TOP DOTS -->
                                <div class="before:absolute before:top-0 before:left-0 before:size-5 before:bg-secondary before:-translate-x-1/2 before:-translate-y-1/2 after:absolute after:top-0 after:right-0 after:size-5 after:bg-secondary after:translate-x-1/2 after:-translate-y-1/2"></div>

                                <!-- BOTTOM DOTS -->
                                <div class="before:absolute before:bottom-0 before:left-0 before:size-5 before:bg-secondary before:-translate-x-1/2 before:translate-y-1/2 after:absolute after:bottom-0 after:right-0 after:size-5 after:bg-secondary after:translate-x-1/2 after:translate-y-1/2"></div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!-- ABOUT US -->
    <section class="~py-16/24 ~px-4/8 bg-slate-100 dark:bg-slate-900">
        <div class="container m-auto flex flex-col-reverse 2xl:flex-row items-center ~gap-12/24">
            <!-- IMAGE -->
            <div class="relative">
                <picture>
                    <!-- MOBILE IMAGE -->
                    <source media="(max-width: 600px)" srcset="{% getUrl about.image.url | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl about.image.url | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl about.image.url | jpeg %}" type="image/jpeg">
                    <!-- TABLET IMAGE -->
                    <source media="(max-width: 1024px)" srcset="{% getUrl about.image.url | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl about.image.url | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl about.image.url | jpeg %}" type="image/jpeg">
                    <!-- DESKTOP IMAGE -->
                    <source media="(min-width: 1024px)" srcset="{% getUrl about.image.url | resize({ width: 1152, height: 768 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl about.image.url | resize({ width: 1152, height: 768 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl about.image.url | resize({ width: 1152, height: 768 }) | jpeg %}" type="image/jpeg">
                    <img
                        class="object-cover h-[32rem] w-full max-w-3xl rounded-3xl"
                        src="{% getUrl about.image.url | resize({ width: 1152, height: 768 }) | jpeg %}" alt="{{ about.image.alt }}"
                        width="768"
                        height="512"
                        loading="lazy"
                        decoding="async"
                        aria-hidden="true"
                        draggable="false">
                </picture>

                <!-- BANNER -->
                <div class="absolute bottom-4 left-1/2 -translate-x-1/2 sm:bottom-6 sm:left-6 sm:translate-x-0 flex items-center ~gap-3/4 w-[calc(100%-2rem)] sm:w-auto py-3 px-4 bg-white dark:bg-black rounded-2xl">
                    <!-- ICON -->
                    <div class="p-2 bg-secondary-200 rounded-full">
                        <img class="~size-8/10"
                            src="{{ about.banner.icon.url }}"
                            alt="{{ about.banner.icon.alt }}"
                            width="40"
                            height="40"
                            loading="lazy"
                            decoding="async"
                            aria-hidden="true"
                            draggable="false">
                    </div>

                    <!-- TITLE + TEXT -->
                    <div class="flex flex-col">
                        <span class="~text-base/lg text-black dark:text-white font-bold leading-none">{{ about.banner.title }}</span>
                        <span class="font-inter ~text-sm/base text-slate-800 dark:text-slate-200 leading-none">{{ about.banner.text | safe }}</span>
                    </div>
                </div>
            </div>

            <!-- TEXT + CTA -->
            <div class="flex flex-col items-start gap-8">
                <!-- HEADING + TEXT -->
                <div class="flex flex-col ~gap-4/6">
                    <!-- TOPPER + HEADING -->
                    <div class="flex flex-col items-start ~gap-3/4">
                        <span class="topper">{{ about.topper }}</span>
                        <h2 class="max-w-md ~text-3xl/5xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">
                            {{ about.heading }}
                        </h2>
                    </div>

                    <p class="max-w-2xl font-inter ~text-base/lg text-slate-800 dark:text-slate-200">{{ about.text | safe }}</p>

                    <!-- SEPARATOR -->
                    <div class="h-px bg-slate-300 dark:bg-slate-700"></div>

                    <!-- ITEMS -->
                    <ul class="flex flex-col gap-4 md:gap-2">
                        {% for item in about.items %}
                            <li class="flex flex-col md:flex-row items-start md:items-center gap-1 md:gap-3 text-primary dark:text-secondary [&>svg]:size-6">
                                {% include "src/assets/svgs/check_circle.svg" %}

                                <p class="font-inter ~text-base/lg font-medium">{{ item.text }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- CTA -->
                <a href="{{ about.cta.url }}" class="btn">
                    <span>
                        <img src="/assets/svgs/header/calendar_month.svg"
                            alt="Ikona kalendáře"
                            width="16"
                            height="16"
                            loading="eager"
                            decoding="async"
                            aria-hidden="true"
                            draggable="false">
                    </span>

                    <span>{{ about.cta.text }}</span>
                </a>
            </div>
        </div>
    </section>

    {% include "sections/locations.njk" %}

    <!-- BLOG -->
    <section class="~py-16/24 ~px-4/8 bg-white dark:bg-slate-950">
        <div class="container m-auto flex flex-col ~gap-8/16">
            <!-- HEADING + CTA -->
            <div class="flex justify-between items-end">
                <!-- TOPPER + HEADING -->
                <div class="flex flex-col items-start ~gap-3/4">
                    <span class="topper">{{ blog.topper }}</span>
                    <h2 class="~text-3xl/5xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">
                        {{ blog.heading }}
                    </h2>
                </div>

                <!-- CTA -->
                <a href="{{ blog.cta.url }}" class="btn">
                    <span>
                        <img src="/assets/svgs/header/calendar_month.svg"
                            alt="Ikona kalendáře"
                            width="16"
                            height="16"
                            loading="eager"
                            decoding="async"
                            aria-hidden="true"
                            draggable="false">
                    </span>

                    <span>{{ blog.cta.text }}</span>
                </a>
            </div>

            <!-- NOVINKY -->
            <ul class="grid grid-cols-2 ~gap-4/6">
                {% for item in collections.novinky | reverse | limit(2) %}
                    <li>
                        <a href="{{ item.url }}" class="group flex flex-col gap-4">
                            <!-- IMAGE -->
                            <div class="rounded-2xl overflow-hidden">
                                <picture>
                                    <!-- MOBILE IMAGE -->
                                    <source media="(max-width: 600px)" srcset="{% getUrl item.data.image | avif %}" type="image/avif">
                                    <source media="(max-width: 600px)" srcset="{% getUrl item.data.image | webp %}" type="image/webp">
                                    <source media="(max-width: 600px)" srcset="{% getUrl item.data.image | jpeg %}" type="image/jpeg">
                                    <!-- TABLET IMAGE -->
                                    <source media="(max-width: 1024px)" srcset="{% getUrl item.data.image | avif %}" type="image/avif">
                                    <source media="(max-width: 1024px)" srcset="{% getUrl item.data.image | webp %}" type="image/webp">
                                    <source media="(max-width: 1024px)" srcset="{% getUrl item.data.image | jpeg %}" type="image/jpeg">
                                    <!-- DESKTOP IMAGE -->
                                    <source media="(min-width: 1024px)" srcset="{% getUrl item.data.image | resize({ width: 858, height: 572 }) | avif %}" type="image/avif">
                                    <source media="(min-width: 1024px)" srcset="{% getUrl item.data.image | resize({ width: 858, height: 572 }) | webp %}" type="image/webp">
                                    <source media="(min-width: 1024px)" srcset="{% getUrl item.data.image | resize({ width: 858, height: 572 }) | jpeg %}" type="image/jpeg">
                                    <img
                                        class="object-cover aspect-[3/2] w-full rounded-2xl transition-transform duration-500 ease-in-out group-hover:scale-110"
                                        src="{% getUrl item.data.image | resize({ width: 858, height: 572 }) | jpeg %}"
                                        alt="{{ item.data.imageAlt }}"
                                        width="572"
                                        height="381"
                                        loading="lazy"
                                        decoding="async"
                                        aria-hidden="true"
                                        draggable="false">
                                </picture>
                            </div>

                            <!-- METADATA + TITLE -->
                            <div class="flex flex-col gap-1.5 px-4">
                                <!-- METADATA -->
                                <ul class="flex items-center gap-2 font-inter text-slate-800">
                                    <!-- WORKPLACE -->
                                    <li>
                                        {% if item.data.workplace.length === 1 %}
                                            {{ item.data.workplace[0] }}
                                        {% elif item.data.workplace.length < 5 %}
                                            {{ item.data.workplace.length }} pracoviště
                                        {% elif item.data.workplace.length < 6 %}
                                            {{ item.data.workplace.length }} pracovišť
                                        {% elif item.data.workplace.length >= 6 %}
                                            Všechna pracoviště
                                        {% endif %}
                                    </li>

                                    <li class="text-slate-600">·</li>
                                    <li>{{ item.data.date | postDate }}</li>
                                </ul>

                                <!-- TITLE -->
                                <h3 class="text-2xl font-bold">{{ item.data.title }}</h3>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}