{% extends "layouts/base.njk" %}

{% block head %}
    <script defer src="/assets/js/search.js"></script>
{% endblock head %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- NOVINKY -->
    <section class="~py-16/24 ~px-4/8 bg-white dark:bg-slate-950">
        <div class="container m-auto flex flex-col gap-4 lg:~gap-8/16">
            <!-- HEADING + SEARCH BAR -->
            <div class="flex flex-col lg:flex-row justify-between lg:items-end gap-8">
                <!-- TOPPER + HEADING -->
                <div class="flex flex-col items-start ~gap-3/4">
                    <span class="topper">{{ novinky.topper }}</span>
                    <h2 class="~text-3xl/5xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">
                        {{ novinky.heading }}
                    </h2>
                </div>

                <!-- SEARCH BAR -->
                <form role="search" method="GET" class="flex gap-1 w-full lg:max-w-[18rem]">
                    <label for="search-input" class="sr-only">Search</label>
                    <input
                        type="search"
                        id="search-input"
                        name="q"
                        placeholder="Hledat příspěvky"
                        autocomplete="off"
                        class="input w-full">
                </form>
            </div>

            <!-- NOVINKY -->
            <ul id="posts" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-8 ~gap-x-4/6">
                {% for item in collections.novinky | reverse %}
                    {% include "components/novinky-item.njk" %}
                {% endfor %}
            </ul>

            <!-- NO RESULTS MESSAGE -->
            <div id="no-results-message">
                <p class="text-slate-800 dark:text-slate-200">Nebyly nalezeny žádné příspěvky odpovídající vašemu hledání.</p>
            </div>

            <!-- PAGINATION CONTAINER -->
            <div id="pagination-container" class="flex justify-center"></div>
        </div>
    </section>

    <!-- AKTUALITY -->
    <section id="aktuality" class="~py-16/24 ~px-4/8 bg-slate-100 dark:bg-slate-900">
        <div class="container m-auto flex flex-col ~gap-8/16">
            <!-- TOPPER + HEADING -->
            <div class="flex flex-col items-start ~gap-3/4">
                <span class="topper">{{ aktuality.topper }}</span>
                <h2 class="~text-3xl/5xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">
                    {{ aktuality.heading }}
                </h2>
            </div>

            <!-- AKTUALITY -->
            <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-8 ~gap-x-4/6">
                {% for item in collections.aktuality | reverse %}
                    <li>
                        <a href="{{ item.url }}" class="flex flex-col gap-1">
                            <!-- METADATA -->
                            <ul class="flex items-center gap-2 font-inter text-sm text-slate-800 dark:text-slate-200">
                                <!-- WORKPLACE -->
                                <li>
                                    {% include "components/workplace-count.njk" %}
                                </li>

                                <li class="text-slate-600 dark:text-slate-400">·</li>
                                <li>{{ item.data.date | postDate }}</li>
                            </ul>

                            <!-- TITLE -->
                            <span title="{{ item.data.title }}" class="text-black dark:text-white font-bold line-clamp-2">{{ item.data.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}