{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- ABOUT US -->
    <section class="~py-16/24 ~px-4/8">
        <div class="container m-auto flex items-start ~gap-12/24"></div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}