{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    {% set pageContent = collections.pages | findWhere({ "key": "about-us.content" }) %}
    {% include "sections/page-content.njk" %}

    {% include "sections/locations.njk" %}
    {% include "sections/cta.njk" %}
{% endblock body %}