{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- FORM -->
    <section class="~py-16/24 ~px-4/8 bg-white dark:bg-slate-950">
        <div class="container m-auto flex flex-col items-center gap-16">
            <!-- TOPPER + HEADING -->
            <div class="flex flex-col items-center ~gap-3/4">
                <span class="topper text-center">{{ form.topper }}</span>
                <h2 class="text-center ~text-3xl/5xl text-black dark:text-white font-bold !leading-[1.1] tracking-wide">
                    {{ form.heading }}
                </h2>
            </div>

            <!-- FORM -->
            <form class="flex flex-col gap-6 w-full max-w-5xl" method="POST" name="Objednávkový formulář" action="/dekujeme" netlify netlify-honeypot="bot-field">
                <!-- HONEYPOT -->
                <input class="sr-only" type="search" name="bot-field" tabindex="-1" autocomplete="off" spellcheck="false" autocorrect="off" placeholder="Leave this empty">

                {% for fieldset in form.fieldsets %}
                    <fieldset class="flex flex-col gap-5 p-8 bg-slate-100 dark:bg-slate-900 border border-slate-200 dark:border-slate-800 rounded-3xl">
                        <!-- ICON + TITLE -->
                        <div class="flex items-center gap-5">
                            <!-- ICON -->
                            <div class="p-3 bg-secondary-200 rounded-full">
                                <img src="{{ fieldset.icon.url }}"
                                    alt="{{ fieldset.icon.url }}"
                                    width="32"
                                    height="32"
                                    loading="lazy"
                                    decoding="async"
                                    aria-hidden="true"
                                    draggable="false">
                            </div>

                            <!-- LEGEND + TEXT -->
                            <div class="flex flex-col">
                                <legend class="text-2xl text-black dark:text-white font-bold">{{ fieldset.legend }}</legend>
                                <p class="font-inter ~text-base/lg text-slate-800 dark:text-slate-200">{{ fieldset.text }}</p>
                            </div>
                        </div>

                        <!-- SEPARATOR -->
                        <div class="h-px bg-slate-300 dark:bg-slate-700"></div>

                        <!-- FIELDS -->
                        <div class="grid gap-x-2.5 gap-y-5" {%- if fieldset.columns %} style="grid-template-columns: repeat({{ fieldset.columns }}, minmax(0, {{ fieldset.columns }}fr))" {%- endif %}>
                            {% for field in fieldset.fields %}
                                <div class="grid gap-2.5" style="grid-template-columns: repeat({{ field.columns }}, minmax(0, {{ field.columns }}fr))">
                                    {% if field.type === "radio" or field.type === "checkbox" %}
                                        <!-- {{ field.name | upper }} -->
                                        {% for option in field.options %}
                                            <label class="group flex flex-col justify-center items-center gap-5 h-52 p-6 bg-white dark:bg-slate-950 border border-slate-200 dark:border-slate-800 rounded-2xl hover:cursor-pointer hover:border-black dark:hover:border-white has-[:checked]:hover:border-primary dark:has-[:checked]:hover:border-secondary transition-colors duration-300 has-[:checked]:border-2 has-[:checked]:border-primary dark:has-[:checked]:border-secondary">
                                                <input
                                                    id="{{ field.name | slug }}-{{ option.value | slug }}"
                                                    type="{{ field.type }}"
                                                    name="{{ field.name }}"
                                                    value="{{ option.value }}"
                                                    class="sr-only"
                                                    {%- if field.required %} required {%- endif %}>

                                                <!-- ICON -->
                                                <div class="p-3 bg-secondary-200 text-primary rounded-full [&>svg]:size-8 transition-colors duration-300 group-has-[:checked]:bg-primary dark:group-has-[:checked]:bg-secondary group-has-[:checked]:text-white dark:group-has-[:checked]:text-black">
                                                    {% include option.icon %}
                                                </div>

                                                <!-- VALUE -->
                                                <span class="text-lg text-black dark:text-white font-bold">{{ option.value }}</span>
                                            </label>
                                        {% endfor %}

                                    {% elif field.type === "inline-checkbox" %}
                                        <!-- {{ field.name | upper }} -->
                                        <label class="flex items-center gap-2.5">
                                            <input 
                                                class="checkbox"
                                                type="checkbox"
                                                name="{{ field.name }}"
                                                {%- if field.required %} required {%- endif %}>
                                            <span class="text-black dark:text-white font-bold select-none">{{ field.value | safe }}</span>
                                        </label>

                                    {% elif field.type === "separator" %}
                                        <!-- SEPARATOR -->
                                        <div class="h-px bg-slate-300 dark:bg-slate-700"></div>

                                    {% elif field.type === "textarea" %}
                                        <!-- {{ field.name | upper }} -->
                                        <label class="flex flex-col gap-2.5">
                                            <span class="text-black dark:text-white font-bold">{{ field.name }}</span>
                                            <textarea class="input min-h-[3lh] max-h-[30lh]" name="{{ field.name }}" rows="3" {%- if field.placeholder %} placeholder="{{ field.placeholder }}" {%- endif %} {%- if field.required %} required {%- endif %}></textarea>
                                        </label>

                                    {% else %}
                                        <!-- {{ field.name | upper }} -->
                                        <label class="flex flex-col gap-2">
                                            <span class="text-black dark:text-white font-bold">{{ field.name }}</span>
                                            <input 
                                                class="input"
                                                type="{{ field.type }}"
                                                name="{{ field.name }}"
                                                autocomplete="{{ field.autocomplete }}"
                                                {%- if field.placeholder %} placeholder="{{ field.placeholder }}" {%- endif %}
                                                {%- if field.required %} required {%- endif %}>
                                        </label>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                    </fieldset>
                {% endfor %}
            </form>
        </div>
    </section>

    {% include "sections/locations.njk" %}
    {% include "sections/faq.njk" %}
    {% include "sections/cta.njk" %}
{% endblock body %}