{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}
    {% include "sections/navigation.njk" %}
    {% include "sections/inner-content.njk" %}
    {% include "sections/cta.njk" %}
{% endblock body %}